@if (!error && result.length > 0) {
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Search Results</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      @for (animal of result; track $index) {
      <div class="col-md-2 mb-3">
        <div class="card custom-card">
          <div class="card-body text-center">
            <h5 class="card-title underline">{{ animal.name }}</h5>
            <p class="card-text">
              <small class="text-muted">
                Age:
                <span class="badge bg-primary">{{ animal.age }}</span>
              </small>
            </p>
            <p class="card-text">
              <small class="text-muted">
                Weight:
                <span class="badge bg-success">{{ animal.weight }} kg</span>
              </small>
            </p>
            <p class="card-text">
              <small class="text-muted">
                Height:
                <span class="badge bg-info">{{ animal.height }} cm</span>
              </small>
            </p>
            <img
              [src]="animal.image"
              class="img-fluid"
              style="width: 150px; height: 150px"
              alt="{{ animal.name }}"
            />
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
}
