<header class="navbar">
  <nav class="navbar__nav">
    <ul class="navbar__nav__list">
      <li class="navbar__nav__list__item">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active"
          >Home</a
        >
      </li>
      <li class="navbar__nav__list__item">
        <a [routerLink]="['/about']" routerLinkActive="active">About</a>
      </li>
      <li class="navbar__nav__list__item">
        <a [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
      </li>
    </ul>

    <ul class="navbar__nav__list">
      <li class="navbar__nav__list__item">
        <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
      </li>
      <li class="navbar__nav__list__item">
        <a [routerLink]="['/register']" routerLinkActive="active">Register</a>
      </li>
    </ul>

    <ul class="navbar__nav__list">
      <li class="navbar__nav__list__item">
        <a [routerLink]="['/profile']" routerLinkActive="active">Profile</a>
      </li>
    </ul>
  </nav>
</header>
