<form (submit)="register(user)" class="register-form">
  <div class="form-group">
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      name="name"
      class="form-control"
      [(ngModel)]="user.name"
    />
  </div>
  <div class="form-group">
    <label for="lastname">Lastname:</label>
    <input
      type="text"
      id="lastname"
      name="lastname"
      class="form-control"
      [(ngModel)]="user.lastname"
    />
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      class="form-control"
      [(ngModel)]="user.email"
    />
  </div>
  <div class="form-group">
    <label for="age">Age:</label>
    <input
      type="number"
      id="age"
      name="age"
      class="form-control"
      [(ngModel)]="user.age"
    />
  </div>
  <div class="form-group">
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      name="username"
      class="form-control"
      [(ngModel)]="user.username"
    />
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      [(ngModel)]="user.password"
    />
  </div>
  <div class="form-group">
    <label for="phone">Phone:</label>
    <input
      type="tel"
      id="phone"
      name="phone"
      class="form-control"
      [(ngModel)]="user.phone"
    />
  </div>
  <div class="form-group">
    <label for="rol">Role:</label>
    <select id="rol" name="rol" class="form-control" [(ngModel)]="user.rol">
      <option value="admin">Admin</option>
      <option value="authenticated">Authenticated</option>
    </select>
  </div>
  <button type="submit" class="btn">Register</button>

  @if (error) {
  <div class="error">
    <p>{{ error }}</p>
  </div>
  }
</form>
